[submodule "dependencies/Ontospy"]
	path = dependencies/Ontospy
	url = https://github.com/casework/Ontospy.git
[submodule "dependencies/UCO"]
	path = dependencies/UCO
	url = https://github.com/ucoProject/UCO.git
